{% assign sca_product = product %}{% assign sca_product_id_text = "," | append : sca_product.id | append : "," %}{% assign sca_price = sca_product.price %}{% assign sca_price_min = sca_product.price_min %}{% assign sca_price_max = sca_product.price_max %}{% assign sca_compare_at_price = sca_product.compare_at_price %}{% assign sca_compare_at_price_min = sca_product.compare_at_price_min %}{% assign sca_compare_at_price_max = sca_product.compare_at_price_max %}{% assign sca_product_available = sca_product.available %}{% assign sca_product_variantCount = sca_product.variants.size %}{% assign sca_compare_at_price_varies = sca_product.compare_at_price_varies %}{% assign sca_price_varies = sca_product.price_varies %}{% assign sca_has_only_default_variant = false %}{% capture sca_product_variants_json %}{{sca_product.variants | json }}{% endcapture %} {% capture sca_product_json %}{ {% if sca_all_gift_products_ids == null or sca_all_gift_products_ids contains sca_product_id_text %}{% assign sca_product_available = false %}{% assign sca_product_variantCount = 0 %}{% assign sca_has_only_default_variant = true %}{% assign sca_is_first_variant = true %}{% capture sca_variants_json %} [{% for variant in sca_product.variants %}{% unless variant.metafields.secomapp.freegifts %}{% unless variant.title contains '(Freegifts)' %}{% unless variant.title contains '% Off' %}{% unless variant.metafields.shappify_qb.qb_hide == "1" %}{% unless variant.metafields.shappify_bundle.is_bundle == "true" %}{% unless variant.metafields.brodev_scn.hide == "true" %}{% unless variant.metafields.wholesaler2.wholesale %}{% unless variant.metafields.Wholesaler.level %}{% unless variant.title contains '(Wholesale' %}{% if sca_is_first_variant%} {{ variant | json }}{% assign sca_price = variant.price %} {% assign sca_price_min = variant.price %} {% assign sca_price_max = variant.price %} {% assign sca_compare_at_price = variant.compare_at_price %} {% assign sca_compare_at_price_min = variant.compare_at_price %} {% assign sca_compare_at_price_max = variant.compare_at_price %} {% assign sca_product_available = variant.available %} {% assign sca_product_variantCount = 1 %} {% assign sca_is_first_variant = false%}{% else %},{{variant | json }} {% if sca_price_min >= variant.price %} {% assign sca_price_min = variant.price %} {% assign sca_price = variant.price %}{% endif %} {% if sca_price_max <= variant.price %} {% assign sca_price_max = variant.price %} {% endif %} {% if variant.compare_at_price %} {% if sca_compare_at_price_min==null or sca_compare_at_price_min >= variant.compare_at_price %} {% assign sca_compare_at_price_min = variant.compare_at_price %} {% assign sca_compare_at_price = variant.compare_at_price %} {% endif %} {% if sca_compare_at_price_max==null or sca_compare_at_price_max < variant.compare_at_price %} {% assign sca_compare_at_price_max = variant.compare_at_price %} {% endif %} {% endif %} {% if variant.available == true %} {% assign sca_product_available = true %} {% endif %} {% assign sca_product_variantCount = sca_product_variantCount | plus: 1 %}{% endif %}{% endunless %}{% endunless %}{% endunless %}{% endunless %}{% endunless %}{% endunless %}{% endunless %}{% endunless %}{% endunless %}{%endfor%} ]{% endcapture %}{% if sca_price_min < sca_price_max %}{% assign sca_price_varies = true %}{% else %}{% assign sca_price_varies = false %}{% endif %}{% if sca_compare_at_price_min < sca_compare_at_price_max %}{% assign sca_compare_at_price_varies = true %}{% else %}{% assign sca_compare_at_price_varies = false %}{% endif %}{% if sca_product_variantCount > 1 %}{% assign sca_has_only_default_variant = false %}{% endif %}{% if sca_product_variantCount == sca_product.variants.size %} "variants":{{ sca_product.variants }},{% else %}{%assign sca_product_variants_json = sca_variants_json %} "variants":{{ sca_variants_json }},{% endif %}{% else %} "variants":{{ sca_product_variants_json }},{% endif %} "id": {{sca_product.id}}, "title": {{sca_product.title | json}}, "handle": {{sca_product.handle | json}}, "description": {{sca_product.description | json}}, "published_at": "{{sca_product.published_at | date: "%Y-%m-%dT%H-%M-%S%:z" }}", "created_at": "{{sca_product.created_at | date: "%Y-%m-%dT%H-%M-%S%:z" }}", "vendor": {{sca_product.vendor | json}}, "type": {{sca_product.type | json}}, "tags": {{sca_product.tags | json}}, "price": {{sca_price}}, "price_min": {{sca_price_min}}, "price_max": {{sca_price_max}}, "available": {{sca_product.available}}, "price_varies": {{sca_price_varies}}, "compare_at_price": {{sca_compare_at_price}}, "compare_at_price_min": {{sca_compare_at_price_min}}, "compare_at_price_max": {{sca_compare_at_price_max}}, "compare_at_price_varies": {{sca_compare_at_price_varies}}, "images": {{sca_product.images | json}}, "featured_image": {{sca_product.featured_image | json }}, "options": {{sca_product.options | json}}, "media": {{sca_product.media | json }}, "content": {{sca_product.content | json }}} {% endcapture sca_product_json %}

{% assign on_sale = false %}
{% if sca_compare_at_price_min > sca_price_min %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available  %}
  {% assign sold_out = false %}
{% endif %}

<!-- new product -->
{% assign custom_label = false %}

{% for tag in product.tags %}
{% assign tag_handle = tag | handle %}
{% if tag_handle == 'label' %}
{% assign custom_label = true %}
{% endif %}
{% endfor %}

{%- liquid
  assign option_color_swatch = settings.option_color_swatch | downcase
  assign url = ''
  for option in product.options_with_values
      assign option_name = option.name | downcase
      if option_color_swatch contains option_name
          assign product_option = option
          assign index = forloop.index0
          assign position = forloop.index | minus: 1
          assign select = option.selected_value
          for variant in product.variants limit: 1
           unless variant.metafields.secomapp.freegifts 
           unless variant.title contains '% off)'

            if variant.image != null  
              assign url = variant.image.src
            endif
            endunless
            endunless
          endfor
          break
      else 
          assign position = 0
      endif
  endfor
-%}

<div class="inner product-item{% if sold_out %} sold-out{% endif %}{% if on_sale %} on-sale{% endif %}" data-product-id="product-{{ product.id }}" data-json-product='{"id": {{product.id}},"handle": "{{product.handle}}","media": {{product.media | json}},"variants": {{ product.variants | json }}}'>
  <div class="inner-top">
  	<div class="product-top">
      <div class="product-image">
        <a href="{{ product.url | within: collection }}" class="product-grid-image" data-collections-related="{{ routes.collections_url }}/{{collection.handle}}?view=related">
          <img class="lazyloaded lazy2 {{lazyload}}" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-srcset="{{ product.featured_image.src | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" data-sizes="auto" data-img>
        </a>
      </div>

      <!-- {% if on_sale or sold_out or custom_label %}
      <div class="product-label">
        {% if on_sale %}
        {% if settings.type_label_sale == 'label_sale' %}
        <strong class="label sale-label" {% if settings.enable_multilang %}data-translate="products.product.sale"{% endif %}>
          {{ 'products.product.sale' | t }}
        </strong>
        <br>
        {% else %}
        <strong class="label sale-label">
          -{{ sca_compare_at_price_min | minus:sca_price_min | times:100 | divided_by:sca_compare_at_price_min }}%
        </strong>
        <br>
        {% endif %}
        
        {% endif %}
        {% if sold_out %}
        <strong class="label sold-out-label" {% if settings.enable_multilang %}data-translate="products.product.sold_out"{% endif %}>
          {{ 'products.product.sold_out' | t }}
        </strong>
        <br>
        {% endif %}
        
        {% if custom_label %}
        <strong class="label custom-label" {% if settings.enable_multilang %}data-translate="products.product.custom_label"{% endif %} >
          {{ 'products.product.custom_label' | t }}
        </strong>
        {% endif %}
      </div>
      {% endif %} -->
    </div>
    
    <div class="product-bottom">
      {% if settings.show_vendor %}
      <div class="product-vendor">
        {{ product.vendor | link_to_vendor }}
      </div>
      {% endif %}

      {% if settings.header_layout == '08' %}
        {% if settings.display_product_reviews %}
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        {% endif %}
      {% endif %}
      
      <a class="product-title {% if settings.header_layout == '02'%}{% if select != blank %}change-text{% endif %}{% endif %}" href="{{ product.url | within: collection }}">
        {% render 'multilang' with product.title %}
        {% if settings.header_layout == '02'%}
          {% if select != blank %}<span data-change-title> - {{ select }}</span>{% endif %}
        {% endif %}
      </a>
      
      {% unless settings.header_layout == '08' %}
        {% if settings.display_product_reviews %}
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        {% endif %}
      {% endunless %}
            
      <div class="price-box">
        {% if on_sale %}
        <div class="price-sale">
          <span class="old-price">{{ sca_compare_at_price_min | money }}</span>
          <span class="special-price">{% if sca_price_varies %}{% render 'varies_from' %}{% endif %}{{ sca_price_min | money }}</span>
        </div>
        {% else %}
        <div class="price-regular">
          <span>{% if sca_price_varies %}{% render 'varies_from' %}{% endif %}{{ sca_price_min | money }}</span>
        </div>
        {% endif %}
      </div>
    </div>

    {% if settings.header_layout == '02'%}
      {% if settings.display_item_swatch %}
        {% render 'item-swatch', product: product, option_color_swatch: option_color_swatch, downcased_option: option_name, product_option: product_option, index: index %}
      {% endif %}
    {% endif %}

    <div class="action">
      {% render 'add-to-cart-form', product: product, sold_out: sold_out, id: 'menu-product-form' %}
    </div>    
  </div>
</div>