<div id="shopify-section-sidebar-filter" class="shopify-section col-12 col-xl-3 col-sidebar">
{% liquid
  assign sort_by = collection.sort_by | default: collection.default_sort_by
  assign blocks = section.blocks | where: 'type', 'sidebar'
  assign block = blocks[0]
  assign style_color = block.settings.style_option_color
  assign style_size = block.settings.style_option_size
  paginate collection.products by 1000
    assign size_item = paginate.items
  endpaginate
%}
  

  {% if block.settings.display_sidebar or settings.category_layout == "right_sidebar" or template.suffix == 'right-sidebar' %}
  {% if settings.category_layout == "right_sidebar" or settings.category_layout == "express_order" or template.suffix == 'express-order' or settings.category_layout == "mansory" or template.suffix == 'mansory' or settings.category_layout == "full_with" or template.suffix == 'fullwidth' or template.suffix == 'right-sidebar' or settings.category_layout == "with_banner" or template.suffix == 'with-banner' %}
  <div class="sidebar-label">
      <span class="icon-filter">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" version="1.1" x="0px" y="0px" viewBox="0 0 48 48" xml:space="preserve"><g><path d="M6,48c-0.552,0-1-0.447-1-1v-7c0-0.553,0.448-1,1-1s1,0.447,1,1v7C7,47.553,6.552,48,6,48z"></path><path d="M6,31c-0.552,0-1-0.447-1-1V1c0-0.553,0.448-1,1-1s1,0.447,1,1v29C7,30.553,6.552,31,6,31z"></path><g><path d="M6,41c-3.309,0-6-2.691-6-6s2.691-6,6-6s6,2.691,6,6S9.309,41,6,41z M6,31c-2.206,0-4,1.794-4,4s1.794,4,4,4s4-1.794,4-4    S8.206,31,6,31z"></path><path d="M42,48c-0.552,0-1-0.447-1-1V26c0-0.553,0.448-1,1-1s1,0.447,1,1v21C43,47.553,42.552,48,42,48z"></path><path d="M42,17c-0.552,0-1-0.447-1-1V1c0-0.553,0.448-1,1-1s1,0.447,1,1v15C43,16.553,42.552,17,42,17z"></path><path d="M42,27c-3.309,0-6-2.691-6-6s2.691-6,6-6s6,2.691,6,6S45.309,27,42,27z M42,17c-2.206,0-4,1.794-4,4s1.794,4,4,4    s4-1.794,4-4S44.206,17,42,17z"></path><path d="M24,48c-0.552,0-1-0.447-1-1V21c0-0.553,0.448-1,1-1s1,0.447,1,1v26C25,47.553,24.552,48,24,48z"></path><path d="M24,12c-0.552,0-1-0.447-1-1V1c0-0.553,0.448-1,1-1s1,0.447,1,1v10C25,11.553,24.552,12,24,12z"></path><path d="M24,22c-3.309,0-6-2.691-6-6s2.691-6,6-6c3.309,0,6,2.691,6,6S27.309,22,24,22z M24,12c-2.206,0-4,1.794-4,4s1.794,4,4,4    s4-1.794,4-4S26.206,12,24,12z"></path></g></g></svg>
      </span>
      <span class="sidebar_more">
          {{ 'collections.sidebar.sidebar_more' | t }}
      </span>
  </div>
  {% endif %}
  <div class="sidebar {% if block.settings.sidebar_style == 'style_2' %}layout-sidebar--skin2{% endif %}" id="main-collection-filters" data-id="{{ section.id }}">
    
    {%- assign total_active_values = 0 -%}
    <collection-filters-form class="facets small-hide">
      <form id="CollectionFiltersForm" class="facets__form">
          <a href="javascript:void(0)" title="{{ 'cart.general.close_cart' | t }}" class="close-sidebar close">
              {% render 'icon-close' %}    
          </a>
          

          {% if block.settings.enable_categories %}
          <div class="widget sidebar-links" data-has-collapse>
              {% if block.settings.title_categories != blank %}
              <div class="widget-title">
                  <h3 class="sidebar-title">
                      {% render 'multilang' with block.settings.title_categories %}
                  </h3>
              </div>
              {% endif %}

              <div class="widget-content">
                  <ul>
                      {% if block.settings.style_categories == 'style_show_all' %}
                      {% for category in collections %}
                      <li>
                          <a href="{{ category.url }}" {% if collection.handle == category.handle %}class="active"{% endif %}>
                              {% render 'multilang' with category.title %}
                          </a>
                      </li>     
                      {% endfor %}
                     
                      {% elsif block.settings.style_categories == 'style_main_menu' %}
                      {% comment %} Get Categories From Main Menu {% endcomment %}

                      {% for link in linklists.main-menu.links %}
                      {%if link.url contains '/collections/'%}
                      <li class="sidebar-link-lv1 {% if linklists[link.handle] != empty %} dropdown{% if link.active %} open{% endif %}{% endif %}">
                          <a href="{{ link.url }}" {% if link.active %}class="active"{% endif %}>
                              {% render 'multilang' with link.title %}
                          </a>

                          {% if linklists[link.handle] != empty %}
                          <span class="icon-dropdown">
                              <i class="fa fa-angle-down"></i>
                          </span>
                          {% assign link_child = link.handle %}
                          {% render 'dropdown-cat' with link_child as link_child %}
                          {% endif %}
                      </li>   
                      {%endif%}
                      {%endfor%}

                      {% else %}
                      {% assign cat_link_list = block.settings.link_list | handleize %}

                      {% for link in linklists[cat_link_list].links %}
                      <li class="sidebar-link-lv1{% if linklists[link.handle] != empty %} dropdown{% if link.active %} open{% endif %}{% endif %}">
                          <a href="{{ link.url }}" {% if link.active %}class="active"{% endif %}>
                              {% render 'multilang' with link.title %}
                          </a>

                          {% if linklists[link.handle] != empty %}
                          <span class="icon-dropdown">
                              <i class="fa fa-angle-down"></i>
                          </span>
                          {% assign link_child = link.handle %}
                          {% render 'dropdown-cat' with link_child as link_child %}
                          {% endif %}
                      </li>        
                      {% endfor %}        
                      {% endif %}
                  </ul>
              </div>
          </div>
          {% endif %}
          <div class="sidebar-filter" data-has-collapse>
              {% if settings.category_layout == "right_sidebar" or settings.category_layout == "express_order" or template.suffix == 'express-order' or settings.category_layout == "mansory" or template.suffix == 'mansory' or settings.category_layout == "full_with" or template.suffix == 'fullwidth' or template.suffix == 'right-sidebar' or settings.category_layout == "with_banner" or template.suffix == 'with-banner' %}
                <a href="javascript:void(0)" title="{{ 'cart.general.close_cart' | t }}" class="close-sidebar close">
                    {% render 'icon-close' %}    
                </a>
                {% endif %}

                <div class="refined-widgets js-filter" data-index="0">
                    {% liquid
                      for filter in collection.filters
                        assign total_active_values = total_active_values | plus: filter.active_values.size
                        if filter.min_value.value != blank or filter.max_value.value != blank
                          if filter.min_value.value > 0 or filter.max_value.value < filter.range_max
                            assign total_active_values = 1
                            break
                          endif
                        endif
                      endfor
                    %}
                    {% if total_active_values > 0 %}
                      <div id="page_size">
                        {{ size_item }} {{ 'general.sidebar.results' | t }}
                      </div>
                      <div class="widget-title">
                          <h3 class="sidebar-title">
                              <span>
                                  {{ 'collections.sidebar.refined_by' | t }}           
                              </span>
                              <a href="{{ collection.url }}?sort_by={{ sort_by }}" class="clear-all text-hover active-facets__button button button--secondary js-facet-remove" {% if total_active_values == 0 %}style="display:none"{% endif %}>
                                  {{ 'collections.sidebar.clear_all' | t }}
                              </a>
                          </h3>
                      </div>
                      <div class="widget-content {{ total_active_values }}">
                          <ul class="refined">
                              {%- for filter in collection.filters -%}
                                {%- for value in filter.active_values -%}
                                <li>
                                  <a class="active-facets__button active-facets__button--light button button--tertiary js-facet-remove" href="{{ value.url_to_remove }}">
                                      {{ value.label | escape }}
                                      <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" viewBox="0 0 48 48" width="144px" height="144px"><path d="M 38.982422 6.9707031 A 2.0002 2.0002 0 0 0 37.585938 7.5859375 L 24 21.171875 L 10.414062 7.5859375 A 2.0002 2.0002 0 0 0 8.9785156 6.9804688 A 2.0002 2.0002 0 0 0 7.5859375 10.414062 L 21.171875 24 L 7.5859375 37.585938 A 2.0002 2.0002 0 1 0 10.414062 40.414062 L 24 26.828125 L 37.585938 40.414062 A 2.0002 2.0002 0 1 0 40.414062 37.585938 L 26.828125 24 L 40.414062 10.414062 A 2.0002 2.0002 0 0 0 38.982422 6.9707031 z"/></svg>
                                  </a>
                                </li>
                                {%- endfor -%}

                                {% if filter.type == "price_range" %}

                                  {% if filter.min_value.value > 0 or filter.max_value.value < filter.range_max %}
                                    {%- if filter.min_value.value != nil and filter.max_value.value != nil -%}
                                    <li class="{{filter.max_value.value}}-{{filter.range_max}}">
                                      <a class="active-facets__button active-facets__button--light button button--tertiary js-facet-remove" href="{{ filter.url_to_remove }}">
                                          {%- if filter.min_value.value -%}{{ filter.min_value.value | money }}{%- else -%}{{ 0 | money }}{%- endif -%}-{%- if filter.max_value.value -%}{{ filter.max_value.value | money }}{%- else -%}{{ filter.range_max | money }}{%- endif -%}
                                          <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" viewBox="0 0 48 48" width="144px" height="144px"><path d="M 38.982422 6.9707031 A 2.0002 2.0002 0 0 0 37.585938 7.5859375 L 24 21.171875 L 10.414062 7.5859375 A 2.0002 2.0002 0 0 0 8.9785156 6.9804688 A 2.0002 2.0002 0 0 0 7.5859375 10.414062 L 21.171875 24 L 7.5859375 37.585938 A 2.0002 2.0002 0 1 0 10.414062 40.414062 L 24 26.828125 L 37.585938 40.414062 A 2.0002 2.0002 0 1 0 40.414062 37.585938 L 26.828125 24 L 40.414062 10.414062 A 2.0002 2.0002 0 0 0 38.982422 6.9707031 z"/></svg>
                                      </a>
                                    </li>
                                    {%- endif -%}
                                  {%- endif -%}

                                {% endif %}
                              {%- endfor -%}
                          </ul>
                      </div>
                    {% endif %}           
                </div>

                {% if collection.current_vendor or collection.current_type %}
                  <input type="hidden" name="q" value="{{ collection.current_vendor }}{{ collection.current_type }}">
                {% endif %}
                {%- for filter in collection.filters -%}
                  {%- assign total_active_values = total_active_values | plus: filter.active_values.size -%}
                  {% case filter.type %}
                  {% when 'list' %}
                    <div class="js-filter widget sidebar-tags {% if style_color contains filter.label %}filter-color{% endif %} {% if style_size contains filter.label %}filter-size{% endif %}" data-index="{{ forloop.index }}">
                      <div class="widget-title {% if block.settings.number_collapse < forloop.index %}open{% endif %}">
                          <h3 class="sidebar-title">
                              <span>{{ filter.label | escape }}</span>
                          </h3>
                      </div>
                      <div class="widget-content" {% if block.settings.number_collapse < forloop.index %}style="display: none"{% endif %}>
                          <ul class="list-tags">
                              {%- for value in filter.values -%}
                                {% assign tag = value.value | strip %}
                                {% assign tag_value = tag | handleize %} 
                                <li class="white list-menu__item facets__item" {% if forloop.index > 10 %}style="display: none"{% endif %}>
                                  <input type="checkbox"
                                    name="{{ value.param_name }}"
                                    value="{{ value.value }}"
                                    id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                                    {% if value.active %}checked{% endif %}
                                    {% if value.count == 0 and value.active == false %}disabled{% endif %}
                                  >
                                  {% if style_color contains filter.label %}
                                    <label for="Filter-{{ filter.label | escape }}-{{ forloop.index }}" class="facet-checkbox{% if value.count == 0 and value.active == false %} facet-checkbox--disabled{% endif %} {% if value.count == 0 and value.active %}active{% endif %}" title="{{tag}}"
                                    style="background-color: {{ tag_value }}; {% if settings.show_product_color_img %}background-image: url({{ tag_value | handle | append: '.png' | file_url }}){% endif %}">
                                    </label>
                                  {% else %}
                                    <label for="Filter-{{ filter.label | escape }}-{{ forloop.index }}" class="facet-checkbox{% if value.count == 0 and value.active == false %} facet-checkbox--disabled{% endif %}">
                                      {{ value.label | escape }} <span class="count_value">{{ value.count }}</span>
                                    </label>
                                  {% endif %}
                                </li>
                                
                                {% if forloop.index == 10 %}
                                  <li class="show-more--list_tags">
                                    <span class="icon">
                                      <svg id="Solid" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m192 424a23.928 23.928 0 0 1 -16.971-7.029l-144-144a24 24 0 0 1 0-33.942l144-144a24 24 0 0 1 33.942 33.942l-127.03 127.029 127.03 127.029a24 24 0 0 1 -16.971 40.971zm144.971-7.029 144-144a24 24 0 0 0 0-33.942l-144-144a24 24 0 0 0 -33.942 33.942l127.03 127.029-127.03 127.029a24 24 0 0 0 33.942 33.942z"/></svg>
                                    </span>
                                    {{ 'general.sidebar.more' | t }} {{ filter.label | escape }}s
                                  </li>
                                {% endif %}
                               
                              {% endfor %}

                              {%- for option in collection.sort_options -%}
                                {% if option.value == sort_by %}
                                  <input type="radio" id="{{ option.value }}" name="sort_by" value="{{ option.value }}" {% if option.value == sort_by %}checked{% endif %} style="display: none;">
                                {% endif %}
                              {% endfor %}

                          </ul>
                      </div>
                    </div>
                  {% when 'price_range' %}
                    {% liquid
                      assign currencies_using_comma_decimals = 'ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,TRY,UYU,VES,VND' | split: ','
                      assign uses_comma_decimals = false
                      if currencies_using_comma_decimals contains cart.currency.iso_code
                        assign uses_comma_decimals = true
                      endif
                    %}
                    <div class="js-filter widget sidebar-tags" data-index="{{ forloop.index }}">
                      <div class="widget-title {% if block.settings.number_collapse < forloop.index %}open{% endif %}">
                          <h3 class="sidebar-title">
                              <span>{{ filter.label | escape }}</span>
                          </h3>
                      </div>
                      
                      <div class="widget-content" {% if block.settings.number_collapse < forloop.index %}style="display: none"{% endif %}>
                          <price-range class="facets__price">
                            <div class="range_price--box">
                              <div class="price-slider">
                                <div class="box-slide {{uses_comma_decimals}}">
                                  <label>
                                    <span class="field__currency">{{ cart.currency.symbol }}</span>
                                    <input class="field__input filter__price filter__min"
                                      name="{{ filter.min_value.param_name }}"
                                      id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                                      {%- if filter.min_value.value -%}
                                        {%- if uses_comma_decimals -%}
                                          value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '' | replace: '.00', '' }}"
                                        {%- else -%}
                                          value="{{ filter.min_value.value | money_without_currency | replace: ',', '' | replace: '.00', '' }}"
                                        {% endif %}
                                      {%- endif -%}
                                      type="number"
                                      value="0"
                                      min="0"
                                      {% if uses_comma_decimals %}
                                          max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '' | replace: '.00', ''  }}"
                                      {% else %}
                                          max="{{ filter.range_max | money_without_currency | replace: ',', '' | replace: '.00', ''  }}"
                                      {% endif %}
                                      >
                                    </input>
                                  </label>
                                  <span class="slide_price--to">to</span>
                                  <label>
                                    <span class="field__currency">{{ cart.currency.symbol }}</span>
                                    <input class="field__input filter__price filter__max"
                                      name="{{ filter.max_value.param_name }}"
                                      id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                                      {%- if filter.max_value.value -%}
                                        {%- if uses_comma_decimals -%}
                                          value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '' | replace: '00', '' }}"
                                        {%- else -%}
                                          value="{{ filter.max_value.value | money_without_currency | replace: ',', '' | replace: '.00', '' }}"
                                        {% endif %}
                                      {%- else -%}
                                         {%- if uses_comma_decimals -%}
                                           value="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '' | replace: '00', ''  }}"
                                         {% else %}
                                           value="{{ filter.range_max | money_without_currency | replace: ',', '' | replace: '.00', ''  }}"
                                         {% endif %}
                                      {%- endif -%}
                                      type="number"
                                      min="0"
                                      {%- if uses_comma_decimals -%}
                                         max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '' | replace: '00', ''  }}"
                                      {%- else -%}
                                         max="{{ filter.range_max | money_without_currency | replace: ',', '' | replace: '.00', ''  }}"
                                      {% endif %}     
                                      >
                                    </input>
                                  </label>
                                </div>
                                <label class="apply__button" for="apply__button--price">
                                  <input class="apply__button--price" type="checkbox" id="apply__button--price" />
                                  {{ 'cart.general.apply' | t }}
                                </label>
                                <input min="0" 
                                       {%- if uses_comma_decimals -%}
                                        max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '' | replace: '00', ''  }}"
                                       {%- else -%}
                                        max="{{ filter.range_max | money_without_currency | replace: ',', '' | replace: '.00', ''  }}"
                                       {% endif %}
                                       step="1" type="range" 
                                {%- if filter.min_value.value -%}
                                    {%- if uses_comma_decimals -%}
                                      value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '' | replace: '00', '' }}"
                                    {%- else -%}
                                      value="{{ filter.min_value.value | money_without_currency | replace: ',', '' | replace: '.00', '' }}"
                                    {% endif %}
                                {%- else -%}
                                    value="0"
                                {%- endif -%} />
                                <input min="0" 
                                       {%- if uses_comma_decimals -%}
                                        max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '' | replace: '00', ''  }}"
                                       {%- else -%}
                                        max="{{ filter.range_max | money_without_currency | replace: ',', '' | replace: '.00', ''  }}"
                                       {% endif %} 
                                       step="1" type="range" 
                                {%- if filter.max_value.value -%}
                                    {%- if uses_comma_decimals -%}
                                      value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '' | replace: '00', '' }}"
                                    {%- else -%}
                                      value="{{ filter.max_value.value | money_without_currency | replace: ',', '' | replace: '.00', '' }}"
                                    {% endif %}
                                {%- else -%}
                                    {%- if uses_comma_decimals -%}
                                       value="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '' | replace: '00', ''  }}"
                                    {% else %}
                                       value="{{ filter.range_max | money_without_currency | replace: ',', '' | replace: '.00', ''  }}"
                                    {% endif %}
                                {%- endif -%} />
                              </div>
                            </div>
                        </price-range>
                      </div>
                    </div>
                  {% endcase %}
                {%- endfor -%}
                <noscript>
                  <button type="submit" class="facets__button button">{{ 'sections.collection_template.filter_button' | t }}</button>
                </noscript>
      
      
      
      
      
      
      
      </div>
    
    	

          {% if block.settings.enable_product %}
          <div class="widget sidebar-widget-product" data-sidebar-product>
              {% if block.settings.title_product != blank %}
              <div class="widget-title">   
                  <h3 class="sidebar-title">
                      {% render 'multilang' with block.settings.title_product %}
                  </h3>
              </div>
              {% endif %}

              {% if block.settings.collection == blank %}
              <div class="widget-product">
                  <div class="grid-item {{ grid_item_width }}">
                      <div class="grid-view-item no-product">
                          <div class="product-top">
                              <div class="not_img">
                                  Product Img
                              </div>
                          </div>

                          <div class="product-bottom">
                              <div class="product-title">
                                  <span>
                                      Your product's name
                                  </span>
                              </div>

                              <div class="price-box">
                                  <span> $250.00 </span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              {% else %}
              <div class="widget-product">
                  <div class="products-grid row">
                      {% for product in collections[block.settings.collection].products limit:block.settings.limit %}
                      <div class="grid-item col-12{% if settings.product_image_border %} grid-item-border{% endif %} ">
                          {% if settings.layout_style == 'layout_style_1170' or settings.layout_style == 'layout_style_flower' %}
                              {% render 'product-grid-item-style-2', product: product, sectionId: block.id %}
                          {% elsif settings.layout_style == 'layout_style_fullwidth' %}
                              {% render 'product-grid-item-style-3', product: product, sectionId: block.id %} 
                          {% elsif settings.layout_style == 'layout_style_suppermarket' %}
                              {% render 'product-grid-item-style-4', product: product, sectionId: block.id %} 
                          {% else %}
                              {% render 'sidebar-product-grid' with product as product, sectionId: block.id %}
                          {% endif %}
                      </div>
                      {% endfor %}
                  </div> 
              </div>
              {% endif %}
          </div>
          {% endif %}

          {% if block.settings.enable_img_1 %}
          <div class="widget sidebar-banner">
              {% if block.settings.image_img_1 != blank %}
              {%- assign img_url = block.settings.image_img_1 | img_url: 'original', crop: 'center' -%}
              {%- assign preview_img = block.settings.image_img_1 -%}
              
              {% if block.settings.link_img_1 != blank %}
                  <a class="animate-scale adaptive_height" href="{{ block.settings.link_img_1 }}" style="padding-top: {{ 1 | divided_by: preview_img.aspect_ratio | times: 100 }}%">
              {% endif %}
                  <img data-srcset="{{ img_url }}" alt="{{ block.settings.image_img_1.alt | default: shop.name }}"
                  class="lazyload" data-sizes="auto">
              {% if block.settings.link_img_1 != blank %}
                  </a>
              {% endif %}

              {% else %}
              <div class="not_img">
                  210 x 165px
              </div>
              {% endif %}
          </div>
          {% endif %}
        
          {% if block.settings.enable_img_2 %}
          <div class="widget sidebar-banner">
              {% if block.settings.image_img_2 != blank %}
              {%- assign img_url = block.settings.image_img_2 | img_url: 'original', crop: 'center' -%}

              {%- assign preview_img = block.settings.image_img_2 -%}
              {% if block.settings.link_img_2 != blank %}
              <a class="animate-scale adaptive_height" href="{{ block.settings.link_img_2 }}" style="padding-top: {{ 1 | divided_by: preview_img.aspect_ratio | times: 100 }}%">
              {% endif %}
              <img data-src="{{ img_url }}" alt="{{ block.settings.image_img_2.alt | default: shop.name }}"
                  class="lazyload" data-sizes="auto">
              {% if block.settings.link_img_2 != blank %}
              </a>
              {% endif %}

              {% else %}
              <div class="not_img">
                  210 x 165px
              </div>
              {% endif %}
          </div>
          {% endif %}
        
          {% if block.settings.enable_custom_block %} 
          <div class="widget sidebar-cms-custom">
              {% if block.settings.title_custom_block != blank %}
              <div class="widget-title">   
                  <h3 class="sidebar-title">
                      {% render 'multilang' with block.settings.title_custom_block | escape  %}
                  </h3>
              </div>
              {% endif %}

              <div class="widget-content">
              {% if block.settings.quote_custom_block != blank %}
              <div class="rte-setting">
                  {{ block.settings.quote_custom_block | split: '|' | first }}
              </div>
              {% endif %}
              </div>
          </div>  
          {% endif %}
      </form>
    </collection-filters-form>

  </div>
  <script src="{{ 'collection-filters-form.js' | asset_url }}" defer="defer"></script> 
  {% endif %}
  <style> 
      @media (max-width: 1199px) {  
          {% unless settings.category_layout == "right_sidebar" or template.suffix == 'right-sidebar' %}
          {% unless block.settings.display_sidebar %}
          .halo-collection-content .sidebar-label {
              display: none !important;
          }
          {% endunless %}
          {% endunless %}
      }
    
      @media (min-width: 1200px) { 
          {% unless settings.category_layout == "full_with" or template.suffix == 'fullwidth' %}
          {% if block.settings.display_sidebar or settings.category_layout == "right_sidebar" or template.suffix == 'right-sidebar' %}
          .halo-collection-content .products-grid .col5 .sizes-list {
              margin-bottom: 8px;
          }

          .halo-collection-content .products-grid .col5 .sizes-list li a {
              min-width: 23px;
              padding: 1px 5px 0px;
              font-size: 10px;
          }

          {% if settings.style_product_grid == 'style_product_grid_2' %}
              .halo-collection-content .products-grid .col5 .item-swatch label,
              .halo-collection-content .products-grid .col5 .item-swatch a {
                  width: 20px;
                  height: 20px;
                  line-height: 20px;
              }
          {% else %}
              .halo-collection-content .products-grid .col5 .item-swatch label,
              .halo-collection-content .products-grid .col5 .item-swatch a {
                  width: 23px;
                  height: 23px;
                  line-height: 23px;
              }
          {% endif %}
          
          .halo-collection-content .products-grid .grid-item-mansory.col5 .countdown-grid-item>span {
              display: none;
          }
          {% endif %}
          {% endunless %}
          
          {% unless settings.category_layout == "right_sidebar" or template.suffix == 'right-sidebar' %}
          {% unless block.settings.display_sidebar %}
          .halo-collection-content .col-main {
              width: 100%;
              -webkit-box-flex: 0;
              -ms-flex: 0 0 100%;
              flex: 0 0 100%;
              max-width: 100%;
          }  
          
          {% else %}
          
          {% if block.settings.show_sidebar == 'right' %}
          .halo-collection-content > .row {
              -webkit-flex-direction: row-reverse;
              -moz-flex-direction: row-reverse;
              -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
          }
          {% endif %}
          {% endunless %}
          
          {% else %}
          .halo-collection-content > .row {
              -webkit-flex-direction: row-reverse;
              -moz-flex-direction: row-reverse;
              -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
          }
          {% endunless %}
      } 
    
    {% if block.settings.display_sidebar %}
    {% if settings.category_layout == "full_with" or template.suffix == 'fullwidth' %}
      @media (min-width: 1200px) and (max-width: 1449px) {
          .halo-collection-content .products-grid .col5 .sizes-list {
              margin-bottom: 8px;
          }

          .halo-collection-content .products-grid .col5 .sizes-list li a {
              min-width: 23px;
              padding: 1px 5px 0px;
              font-size: 10px;
          }

          .halo-collection-content .products-grid .col5 .item-swatch label,
          .halo-collection-content .products-grid .col5 .item-swatch a {
              width: 23px;
              height: 23px;
              line-height: 23px;
          }
      }
      
      @media (min-width: 1350px) {
          .collection-template-fullwidth .toolbar .column-left {
              width: 49.5%;
              padding-right: 30px;
              padding-left: 30px;
          }
          
          .collection-template-fullwidth .toolbar .filters-toolbar__view-as {
              -webkit-box-pack: flex-end;
              -moz-box-pack: flex-end;
              -ms-flex-pack: flex-end;
              -webkit-justify-content: flex-end;
              justify-content: flex-end;
          }
      }
    {% endif %}
    {% endif %}
  </style>
</div>

