  <!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js"> <!--<![endif]-->
    <head>
        <script>
        /* >> TriplePixel :: start*/
        ~function(W,H,A,L,E){try{A.setItem(H,1+(0|A.getItem(H)||0)),W.includes("⇈")&&A.setItem(H+"Stg",1+(0|A.getItem(H+"Stg")||0))}catch(e){}function O(T,R){void 0===R&&(R=!1),H=new XMLHttpRequest,H.open("GET","//triplewhale-pixel.web.app/triplepx.txt?"+~(Date.now()/9e7),!0),H.send(null),H.onreadystatechange=function(){4===H.readyState&&200===H.status?setTimeout(function(){return eval(H.responseText)},50):(299<H.status||H.status<200)&&T&&!R&&(R=!0,O(T-1))}}A=window,A[H]||(L=function(){return"tp.."+Date.now().toString(36)+Math.random().toString(36)},E=A[H]=function(t,e,n){return W=L(),(E._q=E._q||[]).push([W,e,n]),W},E.ch=W,O(5))}("","TriplePixel",localStorage);
        /* << TriplePixel :: end*/
        </script>
      	<!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NHSZ5QN');</script>
        <!-- End Google Tag Manager -->
        <!-- Basic page needs ================================================== -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <!-- Title and description ================================================== -->
        <title>
        {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
        </title>
        {% if page_description %}
        <meta name="description" content="{{ page_description | escape | split: '[/countdown]' | last | strip_html }}">
        {% endif %}
        <!-- Product meta ================================================== -->
        {% render 'fb-open-graph-tags' %}
        {% render 'twitter-card' %}
        <!-- Helpers ================================================== -->
        <link rel="canonical" href="{{ canonical_url }}">
        <link canonical-shop-url="{{ shop.url }}/">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        {% comment %}<link rel="preload" href="{{ 'jquery.min.js' | asset_url }}" as="script">{% endcomment %}
        <!-- Favicon -->
        {% if settings.favicon != blank %}
        <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
        {% endif %}
        <!-- Styles -->
        {% render 'css-variables' %}
        {% render 'head_styles' %}
        <!-- Scripts -->
      	{% render 'jquery-min' %}
      	<!-- <script src="{{ 'jquery.min.js' | asset_url }}"></script> -->
      	<script src="{{ 'jquery-cookie.min.js' | asset_url }}"></script>
      	<script src="{{ 'lazysizes.min.js' | asset_url }}"></script>
        {% render 'head_scripts' %}
        
        <!-- Header hook for plugins ================================ -->
        {{ content_for_header }}
        
      	<script src="https://instafeed.nfcube.com/cdn/007ff992482c85a18b651cfe130c5ee8.js?shop=gibsonlook.myshopify.com"></script>
      	{% if template contains 'customers' %}
        {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
        {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
        {% endif %}

        {% render 'linked-options' %}
        {% if template contains 'product' %}
        	<script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script>
        {% endif %}
        <!--Yotpo JavaScript-->
        <script>
        (function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/xUup5qu0l5eD6kKszNXu6gCZuTf9wDNO0s4Zj6W3/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
        </script>
        <!--End of Yotpo JavaScript-->
        {% render 'shogun-head' %}
        {% include 'wiser' %}
      	<style>#loop-onstore { max-width: 26%; } @media only screen and (max-width:1550px){#loop-onstore { max-width: 50%; } @media only screen and (max-width:828px){#loop-onstore { max-width: 75%; }</style>
      	<style>.product-surfup .product-photos .product-img-box .wrapper-images .product-photo-container img{width:100%}</style>
      	<style class="critical2">@media only screen and (max-width:767px){.product-img-box.vertical-moreview .slider-nav:not(.slick-slider) .item{display:block!important}.product-surfup .product-photos .product-img-box .wrapper-images{min-height:100vw}}</style>
        <script id="sg-js-global-vars">
          sgGlobalVars = {{ shop.metafields['sg-cc']['sg-metafield'] | json }};
          if(sgGlobalVars) {
            sgGlobalVars.cart = {{ cart | json }};
            sgGlobalVars.currentProduct = {{ product | json }};
            sgGlobalVars.isAdmin = {% if content_for_header contains 'adminBarInjector' or content_for_header contains 'previewBarInjector' %}true{% else %}false{% endif %};
          }
        </script>
      	{% include 'sca.freegifts' %}
        <!-- BEGIN app block: shopify://apps/klaviyo-email-marketing-sms/blocks/klaviyo-onsite-embed/2632fe16-c075-4321-a88b-50b567f42507 -->
      	<script src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=L4w2Qw"></script>	
      	<!-- END app app block -->

        {% if settings.ss_enable %}
            {% render 'ss-script' %}
        {% endif %}
	</head>
    {% if settings.layout_body == 'full' %}    
        {%- assign layout_class = 'body-full' -%}   
    {% elsif settings.layout_body == 'boxed' %} 
        {%- assign layout_class = 'body-boxed' -%} 
    {% endif %}
    {% if settings.header_layout == 'vertical' %}
        {%- assign header_class = 'header-vertical-tpl' -%}
    {% elsif settings.header_layout == 'parallax' %}
       {%- assign header_class = 'header-parallax-tpl' -%}
    {% elsif settings.header_layout == '02' %}
        {%- assign header_class = 'header-02-tpl' -%}
    {% endif %}
    {% if settings.layout_home == 'layout_home_4' %}
      {%- assign home_class = 'layout_home_4' -%}
    {% elsif settings.layout_home == 'layout_home_5' %}
      {%- assign home_class = 'layout_home_5' -%}
    {% elsif settings.layout_home == 'layout_home_6' %}
      {%- assign home_class = 'layout_home_6' -%}
    {% elsif settings.layout_home == 'layout_home_7' %}
      {%- assign home_class = 'layout_home_7' -%}
    {% endif %} 
    <body data-url-lang="{{ routes.cart_url }}" id="{{ page_title | handle }}" class="{{ header_class }} {{ layout_class }} {% if customer %}customer-logged-in{% endif %}
    {% if template.suffix == 'landing' %} template-index{% else %} template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% endif %} {{settings.style_product_grid}}{% if settings.layout_style == 'layout_style_1' %} layout_default{% else %} {{settings.layout_style}}{% endif %} {{ home_class }}
    {% unless settings.enable_before_you_leave_mb %} before-you-leave-disableMobile{% endunless %}{% if settings.product_layout == 'skin_1' %} product_layout_skin_1{% elsif settings.product_layout == 'supermarket' %} product_layout_supermarket{% endif %}{% if settings.layout_body == 'custom_width' %} custom_width{% endif %}{% if settings.enable_button_add_to_cart_color %} enable_button_add_to_cart_color{% endif %}{% if settings.enable_hover_video_product_items %} enable_hover_video_product_items{% endif %}
    {% if settings.ss_enable and collection.handle and collection.handle == settings.ss_collection_handle %} ss-shop{% endif %}
    ">
      	<!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NHSZ5QN"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        {% if template contains 'index' %}  
        <h1 style="display: none">{{ page_title | split: '|' | first }}</h1>
        {% endif %}
        {% render 'wrapper-header' %}   

        {% if settings.header_layout == 'vertical' %}
        <div class="flex-nav-vertical">
        {% endif %}    

        {% if settings.header_layout == 'vertical' %}
        {% section 'navigation-vertical-menu' %}
        {% endif %}
        {% render 'scheme' %}
        <div class="wrapper-container wrapper-body">    
            <main class="main-content" role="main">      
                {{ content_for_layout }}
            </main>

            {% if settings.layout_style == 'layout_style_surfup' %}
              {% section 'home-brands' %}
            {% endif %}

            {% if settings.enable_ask_an_expert %}
              {% if settings.enable_ask_an_expert_sticky %}
              <div class="ask-an-expert-sticky" style="display: none;">
                <a href="javascript:void(0)" title="Ask An Expert" class="btn_ask_an_expert" data-toggle="modal" data-target="#ask_an_expert">
                  {% if settings.image_ask_an_expert_sticky != blank %}
                    <img data-srcset="{{ settings.image_ask_an_expert_sticky | img_url: '200x200' }}" class="lazyload" data-sizes="auto">
                  {% else %}
                    <div class="not_img">
                        200 x 100px
                    </div>
                  {% endif %}
                </a>
              </div>
              {% endif %}
            {% endif %}

            {% if settings.footer_layout == 'default' %}
            {% section 'footer' %}
            {% elsif settings.footer_layout == 'parallax' %}
            {% section 'footer-parallax' %}
            {% elsif settings.footer_layout == '02' %}
            {% section 'footer-2' %}
            {% elsif settings.footer_layout == '03' %}
            {% section 'footer-3' %}
            {% elsif settings.footer_layout == '04' %}
            {% section 'footer-4' %}
            {% elsif settings.footer_layout == '05' %}
            {% section 'footer-5' %}
            {% elsif settings.footer_layout == '06' %}
            {% section 'footer-6' %}
            {% elsif settings.footer_layout == '07' %}
            {% section 'footer-7' %}
            {% elsif settings.footer_layout == '08' %}
            {% section 'footer-8' %}
            {% elsif settings.footer_layout == '09' %}
            {% section 'footer-9' %}
            {% endif %}

            <div class="footbar-fixed {% if template contains 'product' %}footbar-fixed-product{% endif %}">
                {% section 'someone-purchased' %}
                {% section 'GDPR-modal' %}
                {% if template contains 'product' %}
                  {% if settings.display_sticky %}
                      {% render 'sticky-add-to-cart' with product as product %}
                  {% endif %}
                {% endif %}
            </div>

            {% if settings.enable_backtotop %}
                <div id="back-top" style="display: none;">
                    <a class="nav_up" href="#top" title="Back to top">
                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                    </a>
                </div>
            {% endif %}
        </div>

        {% if settings.header_layout == 'vertical' %}
        </div>
        {% endif %}

        {% if settings.enable_compare_product and template == 'collection' %}
            <div class="compare-link">
                <a href="javascript:void(0)" data-compare-selected>
                    <span class="compare-text" {% if settings.enable_multilang %}data-translate="collections.general.compare_selected"{% endif %}>{{ 'collections.general.compare_selected' | t }}</span>
                    <span class="countPill countPill--positive countPill--alt" data-compare-count></span>
                </a>
            </div>
        {% endif %}

        {% render 'footer_scripts' %}
        {% render 'sweettooth-widgets' %}
        {% render 'search-autocomplete' %}

        {% if settings.header_layout == 'default' %}
			{% render 'customer_links' %}
        {% else %}
        <div class="translate-header" data-translate-header>
            {% render 'customer_links' %}
            {% render 'wrapper-top-cart' %}
        </div>
        {% endif %}

        {% render 'size-chart' %}
        {% render 'size-chart-quickview' %}
        {% render 'message-modal' %}
        {% render 'newsletter' %}

        {% if template contains 'product' or settings.enable_ask_an_expert_sticky %}
			{% render 'ask_an_expert' %}
        {% endif %}

        {% if template contains 'product'%}
			{% render 'compareColor-popup' %}
        {% endif %}

        {% render 'recently-viewed-products'%}
        <div class="wrapper-overlay"></div>

        <!-- Restock Alerts Snippet Start -->
        {% render 'restock-alerts' %}
        <!-- Restock Alerts Snippet End -->
        <!--Gorgias Chat Widget Start-->
      	<script id="gorgias-chat-widget-install-v2" src="https://config.gorgias.chat/gorgias-chat-bundle-loader.js?applicationId=11630"></script>
		<script id="gorgias-chat-shopify-install">!function(_){_.SHOPIFY_PERMANENT_DOMAIN="{{shop.permanent_domain}}",_.SHOPIFY_CUSTOMER_ID="{{customer.id}}",_.SHOPIFY_CUSTOMER_EMAIL="{{customer.email}}"}(window||{});</script><!--Gorgias Chat Widget End-->
  		{% render 'preorder-now' %}
       	<!-- Loop Returns -->
      	<script src="https://unpkg.com/@loophq/onstore-sdk@latest/dist/loop-onstore-sdk.js"></script>
        <script> 
          LoopOnstore.init({ 
            key: "7066be1408dbbc4c4f76fd8687de11644c132112", 
            attach: ".btn-checkout" 
          });
        </script>
        <script>
          if (LoopOnstore.isActive()) {
            var paymentBtn = document.getElementsByClassName('shopify-payment-button');
            var shopPayInfo = document.getElementsByClassName('hc-shop-pay-installments');

            if (paymentBtn.length) {
              document.getElementsByClassName('shopify-payment-button')[0].style.display = 'none';
            }

            if (shopPayInfo.length) {
              document.getElementsByClassName('hc-shop-pay-installments')[0].style.display = 'none';
            }
          }
        </script>
      <script src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script>

<script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/dYNS80QulebcAnLfp2ExgA" async></script>
      
<script>
    var klaviyo = klaviyo || [];
    klaviyo.init({
      account: "L4w2Qw",
      platform: "shopify"
    });
    klaviyo.enable("backinstock",{ 
    trigger: {
      product_page_text: "Notify Me When Available",
      product_page_class: "btn",
      product_page_text_align: "center",
      product_page_margin: "0px",
		alternate_anchor: "product-add-to-cart",
      replace_anchor: true
    },
    modal: {
     headline: "{product_name}",
     body_content: "Register to receive a notification when this item comes back in stock.",
     email_field_label: "Email",
     button_label: "Notify me when available",
     subscription_success_label: "You're in! We'll let you know when it's back.",
     footer_content: '',
     additional_styles: "@import url('https://fonts.googleapis.com/css?family=Helvetica+Neue');",
     drop_background_color: "#000",
     background_color: "#fff",
     text_color: "#222",
     button_text_color: "#fff",
     button_background_color: "#439fdb",
     close_button_color: "#ccc",
     error_background_color: "#fcd6d7",
     error_text_color: "#C72E2F",
     success_background_color: "#d3efcd",
     success_text_color: "#1B9500"
    }
  });
</script>

    {% if settings.ss_enable %}
      {% render 'ss-intellisuggest' %}
    {% endif %}
  

</body>
</html>

<!-- Begin Shopify-Afterpay JavaScript Snippet (v1.0.12) -->
<script type="text/javascript">
// Overrides:
// var afterpay_min = 0.04;            // As per your Afterpay contract.
// var afterpay_max = 2000.00;         // As per your Afterpay contract.
// var afterpay_cbt_enabled = false;   // As per your Afterpay contract; change to true to display Cross-Border Trade artwork (for AU/NZ).
// var afterpay_logo_theme = 'colour'; // Can be 'colour', 'black' or 'white'.
// var afterpay_product_selector = '#product-price-selector';
// var afterpay_cart_integration_enabled = true;
// var afterpay_cart_static_selector = '#cart-subtotal-selector';

// Non-editable fields:
var afterpay_shop_currency = {{ shop.currency | json }};
var afterpay_cart_currency = {{ cart.currency.iso_code | json }};
var afterpay_shop_money_format = {{ shop.money_format | json }};
var afterpay_shop_permanent_domain = {{ shop.permanent_domain | json }};
var afterpay_theme_name = {{ theme.name | json }};
var afterpay_product = {{ product | json }};
var afterpay_current_variant = {{ product.selected_or_first_available_variant | json }};
var afterpay_cart_total_price = {{ cart.total_price | json }};
var afterpay_js_snippet_version = '1.0.12';
</script>
<script type="text/javascript" src="https://static.afterpay.com/shopify-afterpay-javascript.js"></script>
<!-- End Shopify-Afterpay JavaScript Snippet (v1.0.12) -->