<style>
  #section-{{ section.id }}{
    background-color:{{ section.settings.bg_color }};
    padding: 50px 0px;
    margin-bottom:50px;
  }
.home-pdp-service-inner p {
    font-size: 26px;
    font-weight: 100;
    line-height: 38px;
}
.home-pdp-service-inner {
    display: flex;
    align-items: center;
    padding: 22px 40px;
    gap: 30px;
    background: #fff;
    justify-content: center;
}
 #section-{{ section.id }} .image--contain {
    width: 50px;
    height: 50px;
}
 #section-{{ section.id }} .image--contain img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
    @media (max-width: 767px) {
  #section-{{ section.id }} .container.w-75 {
    width: 100% !important;
}
      .home-pdp-service-inner {
    padding: 15px 11px;
    gap: 10px;
}
      .home-pdp-service-inner p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
}
    }
</style>
<section id="section-{{ section.id }}" class="home-pdp-service">
  <div class="container w-75">
    <div class="row">
        {% for block in section.blocks %}
          <div class="col col-6">
            <div class="home-pdp-service-inner">
            <div class="image--contain">
              {% if block.settings.image != blank %}
              <img src="{{ block.settings.image | img_url: 'master' }}">
              {% else %}
                <div class="animate-scale">
                    <div class="not_img">
                    320 x 420px
                    </div>   
                </div>
            {% endif %}
            </div>
            {{ block.settings.text }}
          </div>
          </div>
        {% endfor %}
    </div>
  </div>
  
</section>
{% schema %}
  {
    "name": "Home - Pdp Service",
    "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    }
    ],
    "max_blocks": 5,
    "blocks": [
       {
         "name": "Content Block",
         "type": "block",
         "settings": [
           {
             "type": "image_picker",
             "id": "image",
             "label": "Image"
           },
           {
             "type": "richtext",
             "id": "text",
             "label": "Text"
           }
         ]
       }
    ],
  "presets": [
    {
      "name": "Home - Pdp Service"
    }
  ]
  }
{% endschema %}
