{% case section.settings.blog_results_per_row %}  
  {% when '2' %}
  	{%- assign column_size = 'col-12 col-md-6 two-blocks item' -%}
  {% when '3' %}
  	{%- assign column_size = 'col-12 col-md-6 col-lg-4 three-blocks item' -%}		
{% endcase %}


{% if section.settings.blog_posts != blank %}
<div class="home-blog-posts home-blog-style2" id="home-blog-{{ section.id }}">
  
   {% if section.settings.instagram_title != blank %}
        <div class="widget-title{% if section.settings.title_style == 'style_2' %} not-before{% endif %}">   
            <h3 class="box-title">
                <span class="title"> 
                
                {% render 'multilang' with section.settings.instagram_title %}
                </span>
            </h3>
            {% if section.settings.instagram_des != blank %}
                <p>
                    {% render 'multilang' with section.settings.instagram_des %}
                </p>        
            {% endif %}
          
          {% if section.settings.display_instagram_button and section.settings.instagram_button_text != blank %}
        <a href="{{ section.settings.instagram_button_link }}" title="{{ section.settings.instagram_button_text | split: '|' | first }}" class="btn">
            {% render 'multilang' with section.settings.instagram_button_text %}
        </a>
        {% endif %}
        </div>
        {% endif %}
  
    <div class="{% if section.settings.layout == 'default' %}container{% else %}container-fluid{% endif %}">
        <div class="content-blog">
            <div class="row list-blogs blog-grid">
                {%- assign blog = blogs[section.settings.blog_posts] -%}

                {% for article in blog.articles limit: section.settings.blog_results_per_row %}
                <div class="{{ column_size }}">
                    {% if article.image %}
                    {% assign image_alt = article.title | escape %}
                    <a href="{{ article.url }}" class="article-img">
                        <img src="{{ article | img_url: 'original' }}" alt="{{ image_alt }}" class="lazyload" />
                    </a>
                    {% endif %}

                    <div class="blog-item">
                        <div class="article-inner">
                            {% if section.settings.blog_show_author or section.settings.blog_show_date %}
                            <div class="blog_author">               
                                {% if section.settings.blog_show_author %}
                                <span class="article__author">By {{article.author}}</span>
                                {% endif %}
                                
                                {% if section.settings.blog_show_date %}
                                <span class="article__date">
                                on {{ article.published_at | time_tag: format: 'month_day_year' }}
                                </span>
                                {% endif %}                
                            </div>
                            {% endif %} 

                            <h3 class="article-title">
                                <a href="{{ article.url }}">
                                    {% render 'multilang' with article.title %}
                                </a>
                            </h3>  

                            <div class="article-des">
                                {% if settings.enable_multilang and article.excerpt_or_content contains '[lang2]' %}
                                <div class="lang1">
                                    {{ article.excerpt_or_content | strip_html | truncatewords: 21 | split:"[lang2]" | first | split:"|" | first}}
                                </div>
                                <div class="lang2">
                                    {{ article.excerpt_or_content | strip_html | truncatewords: 21 | split:"[lang2]" | last | split:"|" | last }}
                                </div>
                                {% else %}
                                    {{ article.excerpt_or_content | strip_html | truncatewords: 21  | split:"[lang2]" | first | split:"|" | first}}
                                {% endif %}
                            </div>

                            <a href="{{ article.url }}" class="btn btn-read-more" {% if settings.enable_multilang %}data-translate="blogs.article.read_more"{% endif %}>
                                {{ 'blogs.article.read_more' | t }}
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>        
    </div>
</div>
{% endif %}

<style>
     {% assign margin_bottom =  section.settings.margin_bottom %}
  
  	{% assign section_bg =  section.settings.section_bg %}


    #home-blog-{{ section.id }} {
        padding-top: 40px;
      	padding-bottom: 70px;
    }
  
    #home-blog-{{ section.id }} .widget-title .btn {
    	border: 1px solid #4b4b4b;
/*         padding: 8px 50px !important; */
        margin-bottom: 20px;
      	color: #4b4b4b;
    }
  
  #home-blog-{{ section.id }} .widget-title .btn:hover {
  	border-color: #000;
    color: #fff;
    background: #000;
  }
  
  #home-blog-{{ section.id }} .widget-title .box-title {
  	font-size: 30px;
  }
  
  #home-blog-{{ section.id }} .widget-title .box-title+p {
  	font-size: 16px;
  }

    #home-blog-{{ section.id }}.home-blog-style2 .content-blog {
		background: #fff;
    }
        
    #home-blog-{{ section.id }},
    #home-blog-{{ section.id }} .widget-title .box-title .title {
        background-color: {{ section_bg }};
    }

    @media (max-width: 1199px) {
        #home-blog-{{ section.id }} {
            margin-bottom: {{ section.settings.margin_bottom_mb }}px;
        }
    }	
    
    @media (min-width: 1200px) {
        #home-blog-{{ section.id }} {
            margin-bottom: {{ margin_bottom }}px;
        }
    }	
</style>


{% schema %}
    {
        "name": "Blog posts Style 2",
        "class": "home-blog-posts2-sections",
        "settings": [
            {
                "type": "select",
                "id": "layout",
                "label": "Layout:",
                "options": [
                    {
                        "value": "default",
                        "label": "Default"
                    },
                    {
                        "value": "full",
                        "label": "Full Width"
                    }
                ],
                "default": "default"
            },
	{
            "type" : "color",
            "id" : "section_bg",
            "label" : "Background Color",
            "default" : "#fff"
        },
        {
            "type": "textarea",
            "id": "instagram_title",
            "label": "Title",
            "default": "Title"
        },
        {
            "type": "textarea",
            "id": "instagram_des",
            "label": "Description",
            "default": "Phasellus lorem malesuada ligula pulvinar commodo maecenas"
        },
        {
            "type": "select",
            "id": "title_style",
            "label": "Title Style:",

            "options": [
                {
                    "value": "style_1",
                    "label": "Style 1" 
                },
                { 
                    "value": "style_2",
                    "label": "Style 2" 
                }          
            ],
            "default": "style_1"
        },
		{
            "type": "checkbox",
            "id": "display_instagram_button",
            "label": "Display Button?",
            "default": true
        },
        {
            "type": "text",
            "id": "instagram_button_text",
            "label": "Button Text",
            "default": "View Gallery"
        },
        {
            "type": "text",
            "id": "instagram_button_link",
            "label": "Button Link"
        },
            {
                "type": "header",
                "content": "Blog"
            },
            {
                "id": "blog_posts",
                "type": "blog",
                "label": "Blog Posts"
            },
            {
                "type": "select",
                "id": "blog_results_per_row",
                "label": "Blogs per row",
                "options": [
                {
                    "value": "2",
                    "label": "2"
                },
                {
                    "value": "3",
                    "label": "3"
                }         
                ],
                "default": "3"
            },
            {
                "type": "checkbox",
                "id": "blog_show_author",
                "label": "Show author",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "blog_show_date",
                "label": "Show date",
                "default": true
            },            
            {
                "type": "range",
                "id": "margin_bottom_mb",
                "label": "Mobile",
                "min": 0,
                "max": 100,
                "step": 1,
                "default": 0
            },
            {
                "type": "range",
                "id": "margin_bottom",
                "label": "Desktop",
                "min": 0,
                "max": 100,
                "step": 1,
                "default": 0
            }	      
        ],
        "presets": [
            {
                "name": "Blog posts Style 2",
                "category": "Blog"
            }
        ]
    }
{% endschema %}